.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
background-color:gray
}

.header{
    text-align: center;
}
.addToDo{
display: flex;
margin-bottom: 15px;
}
